<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDSC BMC Core-team</title>
    <link rel="icon" href="images/GDSC-Logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./ChooseSubject.css" />
    <script src="Assets/js/profiles.js"></script>
</head>

<body>
    <ul>
        <li>
            <img src="Assets/img/logo.png" />
        </li>
    </ul>
    <div class="content">
        <h1>Choose Subject</h1>
        <br />
    </div>
    <div class="team-container">
        <div class="team-member-cardy">
            <img src="/assets//img/CS.jpg" alt="Team Member 1" />
            <div class="team-member-details">
                <h3>COMPUTER SCIENCE</h3>  
            </div>
        </div>
        <div class="team-member-cardg">
            <img src="Assets/img/leads/oplead.webp" alt="Team Member 2" />
            <div class="team-member-details">
                <h3>MATHEMATICS</h3>
            </div>
        </div>

        <div class="team-member-cardb">
            <img src="Assets/img/leads/techlead.webp" alt="Team Member 3" />
            <div class="team-member-details">
                <h3>PHYSICS</h3>
        
            </div>
        </div>
    </div>
    <div class="team-container">
        

        
    <div class="team-container">
        <div class="team-member-cardy">
            <img src="Assets/img/leads/eventlead.webp" alt="Team Member 2" />
            <div class="team-member-details">
                <h3>CHEMISTRY</h3>   
            </div>
        </div>

        <div class="team-member-cardg">
            <img src="Assets/img/leads/financelead.webp" alt="Team Member 3" />
            <div class="team-member-details">
                <h3>BIOLOGY</h3>
            </div>
        </div>
        
</body>

</html>